.container {
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    background: url("../img/background.png");
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 46px 165px 26px 165px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* background-color: chartreuse; */
}

.logo-orange {
    display: none;
}

a:hover .logo-img {
    display: none;
}

a:hover .logo-orange {
    display: block;
}

.logo-name {
    display: flex;
    flex-direction: column;
    text-align: left;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 8px;
}

a:hover .logo-name {
    color: #F26522;
}

.logo-name-down {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: -6px;
}

.contacts {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
}

.contacts:hover {
    color: #F26522;
}

.email {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 19px;
    text-decoration: none;
}

.email:hover {
    color: #F26522;
}

.tel-number {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.tel-number:hover {
    color: #F26522;
}

.entertainment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ent-img {
    box-sizing: border-box;
    border: 3px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, black, white);
    border-image-slice: 1;
    width: 300px;
    height: 220px;
}

.ent-items {
    margin: 0 33px 37px 33px;
    text-decoration: none;
}

.ent-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    position: static;
}

a:hover .ent-title {
    color: #F26522;
}

.pop-up-desc {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    background-color: #F26522;
    /* bottom: 57px; */
    position: absolute;
    /* position: relative; */
    width: 300px;
    opacity: 0;
}

.pop-up-text {
    display: flex;
    flex-direction: column;
    padding: 7px 16px 12px 16px;
}

a:hover .pop-up-desc {
    opacity: 1;
    transition: 1s;
    margin-top: -59px;
}

.price {
    padding-top: 8px;
    font-size: 20px;
    line-height: 20px;
}

.details {
    font-size: 14px;
    line-height: 14px;
    margin: 29px 37px 12px 0;
    position: relative;
}

.details::after {
    content: url("../img/vector-1.svg");
    position: absolute;
    margin: 1px 14px 14px 16px;
}

.copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 12px;
}